.container {
  width: 25%;
  height: 100%;
  background: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 99;
  justify-content: center;

  ul {
    display: flex;
    align-items: center;
    li {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      transition: all 200ms ease;
      &:hover {
        color: #00bcd4;
      }
    }
  }
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
// @media screen and (max-width:767px){
//   .navigation_container__1K2o6{
//     width: 75%;
//   }
// }